/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

#entry-screen {
    position: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#logo-container {
    width: 50vw; /* Set the desired width */
    height: 10vh; /* Set the desired height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

#pong-logo {
    display: flex;
    grid-template-columns: repeat(16, 1fr); /* Adjust based on the number of columns in your logo */
    grid-template-rows: repeat(7, 1fr); /* Adjust based on the number of rows in your logo */
    gap: 2px; /* Adjust the gap between blocks if needed */
    transform: scale(0.5); /* Scale down the logo to fit within the container */
    margin-top: 5vh;
}

@media (orientation: landscape) {
    #logo-container {
        width: 100vw; /* Use full width in landscape mode */
        height: 20vh; /* Adjust height as needed */
    }

    #pong-logo {
        transform: scale(0.5); /* Adjust scale to fit within the container */
        margin-top: 30vh;
    }
}

@media (orientation: portrait) {
    #logo-container {
        width: 100vw; /* Use full width in landscape mode */
        height: 20vh; /* Adjust height as needed */
    }

    #pong-logo {
        transform: scale(1); /* Adjust scale to fit within the container */
        margin-top: 20vh;
    }
}

.logo-block {
    background-color: #fff;
    animation: bounceIn 1.5s forwards, blockPulse 6s infinite 1.5s;
    opacity: 0;
    transform: translateY(-100vh);
}

@keyframes bounceIn {
    0% {
        transform: translateY(-100vh);
        transform: scale(1.25);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    50% {
        transform: translateY(30px);
        opacity: 1;
    }

    70% {
        transform: translateY(-15px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        transform: scale(2);
        opacity: 1;
    }
}

@keyframes blockPulse {
    0%, 100% {
        transform: scale(1.25);
    }
    5% {
        transform: scale(1.5);
    }
    10% {
        transform: scale(1.25);
    }
    15% {
        transform: scale(1.15);
    }
    20%, 100% {
        transform: scale(2);
    }
}

#win-lose-message {
    min-height: 1px; /* Adjust the height as needed */
    animation: rainbow 1s infinite; /* Add this line */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (orientation: portrait) {
    #win-lose-message {
        margin-top: 15vh;
        font-size: 7vh; /* Adjust font size for portrait orientation */
    }
}

@media (orientation: landscape) {
    #win-lose-message {
        margin-top: 20vh;
        font-size: 10vh; /* Adjust font size for landscape orientation */
    }
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

#difficulty-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    transition: transform 0.3s ease;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

@media (min-width: 1024px) {
    #difficulty-selector:hover {
        transform: scale(1.25);
    }
}

.arrow-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 40px; /* Add margin to space out the arrows */
}

@media (orientation: portrait) {
    .arrow-button {
        font-size: 5em;
    }
}

@media (orientation: landscape) {
    .arrow-button {
        font-size: 3em;
    }
}

#difficulty-text-container {
    width: 35vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (orientation: portrait) {
    #difficulty-text-container {
        width: 30vh; /* Adjust font size for portrait orientation */
    }
}

@media (orientation: landscape) {
    #difficulty-text-container {
        width: 50vh; /* Adjust font size for landscape orientation */
    }
}

#difficulty-text {
    font-size: 4vh;
    margin: 3vh;
}

@media (orientation: portrait) {
    #difficulty-text {
        font-size: 5vh; /* Adjust font size for portrait orientation */
    }
}

@media (orientation: landscape) {
    #difficulty-text {
        font-size: 10vh; /* Adjust font size for landscape orientation */
    }
}

#insert-coin {
    font-size: 3em;
    margin-bottom: 15vh;
    animation: blink 1s infinite;
    cursor: pointer;
    
}

@media (orientation: portrait) {
    #insert-coin {
        font-size: 5vh; /* Adjust font size for portrait orientation */
    }
}

@media (orientation: landscape) {
    #insert-coin {
        font-size: 10h; /* Adjust font size for landscape orientation */
    }
}

/* Insert Coin animation */
@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

/* Game Container Styles */
#game-container {
    position: absolute;

    width: 150%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    padding-top: 100px; /* Increased padding to make room for the score */
    box-sizing: border-box;
}

@media (orientation: portrait) {
    #game-container {
        transform-origin: center center;
        transform: rotate(-90deg) translate(-50%, -50%) scale(2, 1.2);
        position: absolute;
        top: 5%;
        left: 50%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (orientation: landscape) {
    #game-container {
        transform-origin: center center;
        transform: none; /* Remove rotation */
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1, 1.2); /* Center the container */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }
}


#game-canvas {
    position: relative;
    background-color: #000;
    display: flex;
    margin: 0 auto;
    border: 4px solid #fff;
    box-sizing: border-box;
    width: 85%;
    height: 85%;

    transition: opacity 0.5s ease-out;
}

@media (orientation: portrait) {
    #game-container {
        max-width: 1500px;
        max-height: 900px;
    }
}

@media (orientation: landscape) {
    #game-container {
        max-width: 1500px;
        max-height: 900px;
    }
}

#score-board {
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    font-size: 4em;
    display: flex;
    justify-content: center;
    width: 100%;
    pointer-events: none;
}

@media (orientation: portrait) {
    #score-board {
        top: 8vh; /* Adjust font size for portrait orientation */
    }
}

@media (orientation: landscape) {
    #score-board {
        top: 10vw; /* Adjust font size for landscape orientation */
    }
}

/* how far apart the scores are from each other */
#score-board span {
    margin: 0 60px;
}

#speed-meter {
    display: flex;
    flex-direction: row; /* Horizontal layout */
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.game-element {
    transform: translateY(-100vh) rotate(-10deg) scale(0.8);
    opacity: 0;
    transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.7s ease-out;
}

.game-element.animate {
    transform: translateY(0) rotate(0deg) scale(1);
    opacity: 1;
}

.meter-segment {
    width: 8vw;
    height: 10vh;
    background-color: #555;
    margin: 0 2px; /* Adjust margins for horizontal spacing */
}

@media (orientation: portrait) {
    .meter-segment {
        width: 4vw;
        height: 5vh;
    }
}

@media (orientation: landscape) {
    .meter-segment {
        width: 4vw;
        height: 5vh;
    }
}


.meter-segment.active {
    background-color: #0f0;
}

/* Confetti Canvas */
#confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* Win/Lose Message Animations */
.rainbow-text {
    animation: rainbow 1s infinite;
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

.flash-red {
    animation: flashRed 1s infinite;
}

@keyframes flashRed {
    0%, 50%, 100% { color: red; }
    25%, 75% { color: #fff; }
}

/* Score Update Animation */
.score-update {
    animation: scaleUp 0.5s;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

